.header {
  padding: 40px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__nav {
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__item {
  font-size: 17.73px;
  line-height: 160%;
  color: rgb(38, 38, 38);
}
.header__button {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 8px 41px 8px 10px;
  background-color: rgb(243, 243, 243);
  max-width: none;
}
.header__button-link {
  color: rgb(53, 53, 53);
}
.burger {
  --burger-width: 28px;
  --burger-height: 22px;
  --burger-line-height: 3px;
  position: relative;
  display: none;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--neutral-color-140);
  background-color: transparent;
}
.burger::before,
.burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentcolor;
}

.burger::before {
  top: 0;
  transition: transform 0.2s, top 0.2s 0.2s;
  transition-duration: 0.2s;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
  transition: transform 0.2s, top 0.2s 0.2s;
  transition-duration: 0.2s;
}

.burger-line {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-25%);
  width: 50%;
  height: var(--burger-line-height);
  background-color: currentcolor;
  transform: translateY(-50%);
  transition: transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  transition: all var(--transition);
}
.burger::before,
.burger::after,
.burger-line {
  border-radius: 28px;
}
.burger--active::before {
  top: 50%;
  transform: rotateZ(-45deg);
  transition: top 0.2s, transform 0.2s 0.2s;
}

.burger--active::after {
  top: 50%;
  transform: rotateZ(45deg);
  transition: top 0.35s, transform 0.2s 0.2s;
}

.burger--active .burger-line {
  opacity: 0;
  visibility: hidden;
}
/* ========================================= */
.hero {
  padding: 195px 0 207px;
  background: url('../assets/img/home-baner.png');
}
.hero__container {
  max-width: 1593px;
}
.hero__banner {
  padding: 55px 58px;
  max-width: 552px;
  backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.85);
  border-radius: 29px;
}
.hero__title {
  margin-bottom: 19px;
}
.hero__descr {
  color: var(--main-text);
  line-height: 147.5%;
  margin-bottom: 18px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 13px;
}
.hero__button-meeting {
  display: flex;
  align-items: center;
  gap: 11px;
  background: var(--secondary-02);
  color: rgb(53, 53, 53);
  padding: 8px 10px;
}
/* ======================================= */
.clients {
  margin-top: 30px;
}
.clients__container {
  max-width: 1834px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.clients__item {
  opacity: 0.8;
}
/* ============================================= */
.about {
  margin-top: 127px;
  padding-bottom: 174px;
}
.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 65px;
}
.about__info {
  max-width: 421px;
}
.about__descr {
  text-transform: uppercase;
  padding: 0px 12px;
  background-color: var(--primary-01);
  color:  var(--primary-03);
  border-radius: 20px;
  margin-bottom: 22px;
}
.about__title {
  margin-bottom: 18px;
}
.about__subtitle {
  color: var(--primary-03);
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 147.5%;
  margin-bottom: 11px;
}
.about__text {
  margin-bottom: 55px;
}
.about__counters {
  display: flex;
  gap: 40px;
}
.about__counter {
  padding: 16px 23px;
  border-radius: 15px;
  background-color: #f7f7f7;
}
.about__counter:first-child {
  position: relative;
}
.about__counter:first-child::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  display: block;
  background-color:#d8d8d8;
  right: -22px;
  top: 0;
}
.about__counter-top {
  display: flex;
  align-items: center;
  gap: 11px;
}
.about__counter-title {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 147.5%;
}
.about__img {
  position: relative;
}
.about__img::before {
  content: '';
  display: inline-block;
  background: url('../assets/icon/home/dots-bg.svg');
  width: 327px;
  height: 327px;
  position: absolute;
  z-index: -1;
  bottom: -80px;
  left: -90px;
}
.about__market {
  position: absolute;
  left: -50px;
  bottom: -20px;
  border-radius: 20px;
  box-shadow: -5px 22px 26px 0px #5f5f5f40;
  padding: 22px 28px 20px 22px;
  background-color: var(--secondary-02);
}
/* ========================================== */
.services {
  background-color:var(--secondary-01);
  padding: 170px 0;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__descr {
  text-transform: uppercase;
  padding: 0px 12px;
  background-color: var(--primary-02);
  color:  var(--secondary-02);
  border-radius: 20px;
  margin-bottom: 8px;
}
.services__title {
  margin-bottom: 38px;
  text-align: center;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.services__list img {
  margin-bottom: 30px;
}
.services__item {
  padding: 49px 47px;
  border-radius: 20px;
  background: rgb(235, 235, 235);
}
.services__item:nth-child(2) {
  background-color: var(--primary-03);
}
.services__item-title {
  margin-bottom: 10px;
}
.services__item:nth-child(2) .services__item-title {
  color: var(--secondary-02);
}
.services__item:nth-child(2) .services__item-text {
  color: var(--secondary-02);
}
@media (max-width: 1200px) {
  .about__img::before {
    left: 0px;
  }
  .about__market {
    position: absolute;
    left: -50px;
    bottom: -20px;
    border-radius: 20px;
    box-shadow: -5px 22px 26px 0px #5f5f5f40;
    padding: 10px 18px 10px 12px;
    background-color: var(--secondary-02);
  }
  .about__market img {
    width: 150px;
  }
}
/* ================= */
@media (max-width: 992px) {
  /* =================== */
  .header__right {
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1;
    flex-direction: column;
    width: 80dvw;
    height: 100%;
    background-color: var(--secondary-02);;
    opacity: 0;
    visibility: hidden;
    transition: left var(--transition), opacity var(--transition),
    visibility var(--transition);
  }
  .header__list {
    flex-direction: column;
    margin-top: 200px;
  }
  .header__right--visible {
    left: 0;
    opacity: 1;
    visibility: visible;
    padding-left: 40px;
  }
  .burger {
    display: block;
  }
  .overlay {
    position: fixed;
    inset: 0;
    background-color: #0000002d;
    opacity: 0;
    visibility: hidden;
    z-index: -2;
    transition: opacity var(--transition), visibility var(--transition);
  }
  .overlay--visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .header__logo--visible {
    position: fixed;
    top: 55px;
    z-index: 2;
    left: 60px;
  }
  .burger--active {
    position: fixed;
    right: 20px;
    top: 7%;
    z-index: 3;
  }
  /* ============= */
  .clients__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* ============== */
  .about__wrapper {
    align-items: center;
  }
  .about__info {
    max-width: none;
  }
  .about__img::before {
    display: none;
  }
  .about__img > img {
    height: 300px;
    border-radius: 20px;
  }
  .about__market {
    left: -50px;
    padding: 10px 18px 10px 12px;
  }
  .about__market img {
    width: 150px;
  }
  /* ================ */
  .services__list {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
  }
  .about__info {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__subtitle {
    font-size: 16px;
  }
  .about__img > img {
    height: 100%;
    border-radius: 0;
  }
  .about__market {
    left: 20px;
  }
  .about__market img {
    width: 170px;
  }
  /* ======================== */
  .services__item-title {
    font-size: 16px;
  }
}
@media (max-width: 567px) {
  .hero {
    padding: 100px 0 150px;
  }
  .hero__banner {
    padding: 30px 36px;
  }
  .hero__title {
    text-align: center;
  }
  .hero__buttons {
    margin-top: 30px;
    flex-direction: column;
  }
  .about__market img {
    width: 140px;
  }
  /* ==================== */
  .services__title span {
    display: none;
  }
  .services__list {
    display: flex;
    flex-direction: column;
  }
  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 27px;
  }
}
@media (max-width: 380px) {
  .header__right {
    padding-left: 10px;
  }
  .header__button {
    padding: 7px 20px;
    font-size: 14px;
  }
}
